.missingContainer {
  text-align: center;
  padding: 80px 0;
}
.missingContainer h2 {
  font-size: 2em;
  color: hsl(0, 0%, 20%);
}
.missingContainer p {
  font-size: 1em;
  color: hsl(0, 0%, 40%);
  margin-bottom: 20px;
}
.homeLink {
  text-decoration: none;
  padding: 10px 15px;
  background-color: hsl(180, 100%, 30%);
  color: hsl(0, 0%, 90%);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.homeLink:hover {
  background-color: hsl(180, 100%, 20%);
}
